.category_wrap{
    width:100%;
    max-width: 12.4rem;
    margin:10px auto; 
    overflow-x: hidden;
    &:hover{
        overflow-x:auto;
    }
    &::-webkit-scrollbar {/*滚动条整体样式*/
        width: 100px;     /*高宽分别对应横竖滚动条的尺寸*/
        height: 5px;
    }
    &::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        border-radius: 10px; 
        background: #535353;
    }
    &::-webkit-scrollbar-track {/*滚动条里面轨道*/  
        border-radius: 10px;
        background: #EDEDED;
    }
    .category_list{ 
        list-style:none;
        font-size:16px;
        display: flex;  
        border-bottom:1px solid #ccc; 
        white-space: nowrap; 
        line-height: 40px; 
         .category_item{
            flex:1; 
            margin:0;
            padding: 0 10px; 
            position: relative;
            a{
                color: #000000; 
            }
            a:after{
                content:'';
                width:30px;
                height:3px;
                background:#fff;
                position: absolute;
                bottom:0;
                left:10px;
                right:0;
                display: block; 
            }
            a.active{
                color: #ff8300; 
            }
            a.active:after{
                content:'';
                width:30px;
                height:3px;
                background:#ff8300;
                position: absolute;
                bottom:0;
                left:10px;
                right:0;
                display: block; 
            }
         }
    }
}
.vf-news-box {
    padding: 0px !important;
}
.icpWrap{ 
    background: #F0F0F0;
    padding: 20px 0;
    display: -ms-flexbox;
    display: block;
    margin: 0 -20px;
    .icopInner{
      width:100%;
      p{
        font-size: 13px;
        color: #888888;
        width: 100%;
        text-align: center;
        height:20px;
        line-height:20px;
      }
    }
  } 
  .vf-news-list_con .AD-info .title {
    font-weight: 400;
    overflow: hidden;
    font-size: 0.45333rem;
    line-height: 0.6133rem;
    color: #181818;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    word-break: break-all;
    margin-bottom: 0.08rem;
}
.vf-news-list_con .AD-img img {
    width: 100%;
}
.vf-news-list_con .AD-bottom { 
    display: flex; 
    align-items: center;
    margin-top: 0.16rem;
}
.vf-news-list_con .AD-bottom img {
      height: 0.37333rem;
      width: 0.72rem;
      margin-right: 0.16rem;
}
.vf-news-list_con .AD-bottom span {
      font-size: 0.32rem;
      color: #888888;
}
.vf-no-news {
    padding: 1.06667rem 0 4rem;
    text-align: center;
}
.vf-no-news img {
height: 4.26666rem;
width: 4.26666rem;
margin-top: 2.66667rem;
margin-bottom: 0.53333rem;
}
.vf-no-news p {
text-align: center;
font-size: 0.37333rem;
line-height: 20px;
color: #3c3c3c;
}