// 混合宏，gradient-line
// 用来实现带有圆点走动的渐变效果
@mixin gradient-line(
  $width,
  $size,
  $animate-name,
  $time
){
   height: 0.026667rem;    //2px
   width:$width;
   position: relative;
   background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
   margin-bottom: $fs30;
   &:after{
      content: '';
      width: $size;
      height: $size;
      border-radius: 50%;
      top: -0.03rem;
      left: -0.08rem;
      @extend %absolute;
      animation: $time $animate-name linear infinite alternate;
   }
}
